body {
    background-color: #38383d;
    margin: 0;
    padding: 0;
}
.App {
    text-align: center;
    font-family: 'Verdana,Geneva,Bitstream Vera Sans,DejaVu Sans',sans-serif;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
    transform: rotate(0deg);
    }
    to {
    transform: rotate(360deg);
    }
}

.Panel {
    height: 33vh;
    color: white;
}

.HalfPanel {
    width: 49%;
    height: 100%;
    padding: 0px;
    float: left;
}

h3 {
    padding: 10px 30px;
    margin: 10px 0 0 0;
}

p {
    margin: 0;
    padding: 10px 30px;
}